@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

:root {
    --secondary-color: #050705d3;
    /* --primary-color: #20e655; */
    --primary-color: #01f1a1;
    --off-green: #3d907e;

    color: #1fffb4c2;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--primary-color);
    font-family: 'Source Code Pro', monospace;

    /* https://www.heropatterns.com/ */
    /* CC BY 4.0 */
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231fffb4c2' fill-opacity='0.36' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

nav {
    top: 0;
    position: fixed;
    width: 100%;
    max-height: 20vh;
    padding: 1vh;
    text-align: center;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
}

main {
    max-width: 700px;
    padding: 15vh 4vh;
    margin: auto;
}

.label1 {
    font-size: medium;
    font-weight: normal;
}

#input-txt {
    display: block;
    margin: auto;
    width: 100%;
    min-height: 15vh;
    padding: 1vh;
    font-size: medium;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    background-color: var(--secondary-color);
}

textarea::placeholder {
    color: var(--off-green);
    font-size: medium;
}

#translate-btn {
    display: block;
    margin: 2vh auto;
    width: 110px;
    height: 40px;
    font-size: medium;
    color: var(--primary-color);
    font-family: 'Source Code Pro', monospace;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    background-color: var(--secondary-color);
}

.label2 {
    margin-top: 5vh;
    font-weight: lighter;
    font-size: 14px;
}

#output-txt {
    display: block;
    width: 100%;
    margin: auto;
    min-height: 15vh;
    margin-top: 1vh;
    padding: 5vh;
    font-size: medium;
    font-weight: bold;
    /* border: 1px solid var(--primary-color); */
    /* background-color: var(--secondary-color); */
    /* border-radius: 3px; */
}


#reset-btn {
    display: block;
    margin: auto;
    margin-top: 1vh;
    width: 80px;
    height: 35px;
    font-size: medium;
    color: var(--primary-color);
    font-family: 'Source Code Pro', monospace;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    background-color: var(--secondary-color);
}

footer {
    display: block;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    padding-bottom: 2vh;
    max-height: 15vh;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
}

footer div {
    font-size: larger;
    margin: 1vh;
}

footer p {
    display: block;
    max-width: 400px;
    margin: auto;
    font-size: medium;
    padding: 1vh;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
}